body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #212121;
}

main {
    position: relative;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper > select {
    font-weight: 550;
    font-size: 17px;
    color: #fff;
    background: #202020;
    appearance: none;
    border: solid 1px #fff;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 0 15px 0;
    width: auto;
    text-align: center;
    min-width: 100px;
    max-width: 120px;
    height: 55px;
    cursor: pointer;
    transition: border .1s ease;
}

.wrapper > select:focus {
    outline: none;
    border: solid 3px #fff;
}

.wrapper > iframe {
    border: solid 2px #fff;
    width: clamp(100px, 80vw, 560px);
}